#container{
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr 4fr;
    -ms-grid-rows: 1fr;
}

#thumbnails {
    background: purple;
}

#mapDiv{
    height: 100%;
    background: red;
    -ms-grid-column: 2;
    position: relative;
}

.thumbnailImage {
    height: 110px;
    width: 110px;
}
@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
